/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 */
 

 @import "bootstrap";

 body{
   background-color: black;
 }

 #eac-container-searchform li{
   color: black;
 }
 //footer
.footer {
    bottom: 0;
    width: 100%;
    color:#fff;
    margin-top: 45px;
    padding-top: 5px;
    
  }
  
  #footer-text{
    color: white;
  
  }

  .myicon{
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  .list-city{
    background-color: black;
  }

  // icon
  /* Style all font awesome icons */
.fa {
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: #017bb5;
  color: white;
}