<footer>
    <div class="footer bg-dark">
        <div class="row">
            <div class="col-8" id='footer-text'>
                <div class="px-5 py-5">
                    <p>Clock+</p>
                    <p>Email: s3694787@rmit.edu.au</p>
                    <p>Grade level: 80+</p>
                </div>
            </div>
            <div class="col-4" id='footer-text'>
                <div class="list-inline px-5 py-5">
                    <p class="list-inline-item">Share social</p>
                    <a href="https://www.facebook.com/leekhanh1993" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/home" class="fa fa-twitter"></a>
                    <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                </div>

            </div>
        </div>
    </div>
</footer>